---
layout: default
---

<h2>Hello, world!</h2>

<p class="pitch">{{ site.author.bio }}</p>

<div class="catalogue"> 
  {% for post in site.posts %}
    {% if post.sticky %}
      {% include pinned_post.html sticky='true' %}
    {% endif %}
  {% endfor %}
  {% for post in paginator.posts %}
    {% include pinned_post.html %}
  {% endfor %}
</div>

<section class="recent-post-style">
<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <small>&nbsp;&nbsp;{{ post.date | date: "%b %-d, %Y" }}</small>
    </li>
  {% endfor %}
</ul>
</section>



