<a href="{{ post.url | prepend: site.url }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <!-- &middot; -->
    <span class="catalogue-pinned">✯</span>
    {% endif %}
    <time datetime="{{ post.date }}" class="catalogue-time">
      {{ post.date | date: "%B %d, %Y" }}
    </time>
    <h2 class="catalogue-title">{{ post.title }}</h2>
    <div class="catalogue-line"></div>
    <!-- <div class="block-has-space">
      {% if post.image != null %}
      <img src="{{site.url}}{{ post.image }}" alt="{{ post.title }} on {{ site.title }}" 
      loading="lazy" width="800px" height="auto">
      {% endif %}
    </div> -->
    <p>
      {{ post.excerpt }}
    </p>

  </div>
</a>
