@use 'variables' as var;

html {
  box-sizing: border-box;
  font-size: 18px;
}
@media screen and (min-width: 783px) {
	html {
		font-size: 20px;
	}
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var.$family-sans;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var.$color-bg;
  margin: 0.5rem 1.2rem;
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 783px) {
	body {
		margin: 1rem 10rem;
	}
}
::selection {
  background-color: #ff0;
  color: #000;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  text-wrap: balance;
}

// reset ends here

h2, h3, h4, h5, h6, .site-branding {
  font-family: var.$family-serif;
}

a {
  color: var.$blue;
  text-decoration: none;
  border-bottom: 1px solid var.$blue;
}
a:hover {
  border-bottom: 1px solid red;
}

.site-branding {
  margin-bottom: 1.2rem;
}
.site-title {
  font-size: 2.5rem;

}
.site-description {
  color: var.$color-pitch;
  font-style: italic;
}
nav {
  overflow: auto;
  margin: 1rem auto;

  a {
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 0.9rem;
  }
}  

.hr {
  border: 0;
  border-top: 0.1px solid var.$blue;
  margin: 2.5rem 0;
}

footer {
  border: 0;
  border-top: 0.1px solid var.$color-pitch;
  font-weight: 200;
  padding: 0.25rem 0;
  text-align: center;

  .spanify {
    color: var.$color-pitch;
    font-size: .75rem;

  }
  a {
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px solid var.$blue;
  }
}

.note {
  margin: 2rem 0;
  padding: 0.01rem 0.75rem;
}
.rednote {
  background-color: #ffdddd;
  border-top: 0.5rem solid #f44336;
}

.greennote {
  background-color: #ddffdd;
  border-top: 0.5rem solid #04AA6D;
}

.bluenote {
  background-color: #e7f3fe;
  border-top: 0.5rem solid #2196F3;
}

.yellownote {
  background-color: #ffffcc;
  border-top: 0.5rem solid #ffeb3b;
}

.blacknote {
  color: whitesmoke;
  background-color: #333;
  border-top: 0.5rem solid #000;
}

.whitenote {
  color: #000;
  background-color: whitesmoke;
  border: 1px solid #000;
  border-top: 0.5rem solid #000;
}
