// font stack
$stack-serif: "Gentium Book", serif;
$stack-sans:  "Inter", sans-serif;
$stack-mono:  "JetBrains Mono", monospace;

$size-font-base:   20px !default;
$height-line-base: 1.5; 

// colors
$color-bg:   #f5f5f1;
$color-pitch:#777;
$color-text: #111;

$blue: #2d93d3;


