// font stack
$family-serif: "Gentium Book", serif;
$family-sans:  "Inter", sans-serif;
$family-mono:  "JetBrains Mono", monospace;

$size-font-base:   20px !default;
$height-line-base: 1.5; 

// colors
$color-bg:   #f5f5f1;
$color-pitch:#555;
$color-text: #111;

$blue: #3858e9;


