---
layout: default
---

<article class="content-style" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-info">
    <span>Written by</span>
    <a rel="author" class="p-author h-card" href="{{site.url}}/about/">{{ site.author.name }}</a>
    {% if page.date %}
    <br>
    <time class="dt-published" datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%B %d, %Y"
      }}</time>
    <br>
    {% endif %}
    {% if page.lastmod %}
    <small><span>Last modified on&nbsp;</span><time class="dt-modified" datetime="{{ page.lastmod }}"
        itemprop="dateModified">{{ page.lastmod | date: "%B %d, %Y" }}</time></small>
    {% endif %}
    <br>
    <small>
      <a href="{{site.url}}/tags/#{{page.tags[0]}}">#{{page.tags[0]}}</a>
    </small>
  </div>

  <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
  <div class="post-line e-content" itemprop="articleBody"></div>
  {% if page.excerpt != null %}<p class="pitch">{{ page.excerpt | escape}}</p>{% endif %}
  <div class="block-has-space">{% if page.image != null %}<img src="{{site.url}}{{ page.image }}"
      alt="{{ page.title }}" loading="lazy" width="800px" height="auto">{% endif %}</div>

  {{ content }}

  <a class="u-url" href="{{ page.url | absolute_url }}" hidden></a>
</article>
